html{
    background-color: rgb(189, 82, 82);
}
body{
    display: grid;
    margin: 10px 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
}
.hobbies{
    display: grid;
}
.series{
    display: grid;
    flex: 1; /* Take up 1 part of the available space */
    margin-right: 20px; /* Add some space between the list and images */
    list-style-type: none; /* Remove bullet points */
}
.container2{
    display: grid; /* Use flexbox to create a side-by-side layout */
    align-items: flex-start; /* Align items at the top */
}
.image-container {
    flex: 1; /* Take up 1 part of the available space */
    display: flex;
    flex-direction: column; /* Arrange images in a column */
    gap: 10px; /* Add space between images */
}
.image-container img {
    max-width: 80%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
    align-self: center; /* Align images to the center */
}
.image-container .mm{
    transform: scale(0.5);
}